<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
.footer{
	/*position:relative;
	left: 0;
	top: 20px;*/
	clear: both;
    background-color: #3c3c3c;
    height: 60px;
    width: 100%;
    color: #c2c2c2;
    line-height: 22px;
    padding-bottom: 10px;
    font-size: 12px;
}

.ft-copyright{
	padding: 12px 0 12px 20px;
    margin-top: -1px;
    border-top: 1px solid #575a5b;
}

.ft-content{
	width: 1000px;
	margin: 0 auto;
}
	</style>
	<body>
		<div class="footer">
        	<div class="ft-content">
        	    <div class="ft-copyright">
        		    <span id="yyy">© 2018 Mafengwo.cn 京ICP备11015476号 京公网安备11010502013401号 京ICP证110318号违法和不良信息举报电话: 010-59222790 举报邮箱 mfwyouji@mafengwo.com</span>
        		    <span>网络出版服务许可证：(总)网出证(京)字第161号增值电信业务经营许可证：京B2-20180228 营业执照帮助中心马蜂窝客服：国内4006-345-678海外 +86-10-5922-2799</span>
        	    </div>
            </div>
        </div>
    
	</body>
</html>
