<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../res/admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/admin/css/table.css" />
</head>
<body >
<div class="table-container" id="user">
    <div>

    </div>
    <form class="layui-form">
        <div class="div-opre">
            <div class="btn-opre">
                <button type="button" v-on:click="ban" class="layui-btn">封&nbsp;&nbsp;禁</button>
                <button type="button" v-on:click="unban" class="layui-btn">解&nbsp;&nbsp;封</button>
            </div>
            <div class="time-search">
                <select name="status" id="status" style="display: inline-block; width: 90px; height: 35px;">
                    <option value="-1">所有</option>
                    <option value="0">正常</option>
                    <option value="1">违规</option>
                </select>
                <input type="text" placeholder="用户名" class="layui-input" id="word" style="display: inline-block; width: 200px;" >
                <button type="button" v-on:click="searchuser" class="layui-btn">查&nbsp;&nbsp;询</button>
            </div>
        </div>
        <table class="layui-table">
            <thead>
            <tr>
                <th><input style="display: block; width: 20px; height: 20px;" type="checkbox" id="selectAll"  /></th>
                <th>用户名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>城市</th>
                <th>注册时间</th>
                <th>注册类型</th>
                <th>注册编码</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in user">
                <td><input style="display: block; width: 20px; height: 20px;" type="checkbox" name="check" :value="item.user_id"  ></td>
                <td><a :href="'http://wsgzjh.cn/view/user/index.html?location=user&user_id='+item.user_id" target="_blank">{{item.nickname}}</a></td>
                <td>
                    <template v-if="item.sex==0">女</template>
                    <template v-if="item.sex==1">男</template>
                </td>
                <td>{{item.birthday}}</td>
                <td>{{item.city}}</td>
                <td>{{item.createTime}}</td>
                <td>
                    <template v-if="item.identity_type==0">手机</template>
                    <template v-if="item.identity_type==1">邮箱</template>
                    <template v-if="item.identity_type==2">QQ</template>
                    <template v-if="item.identity_type==3">微博</template>
                </td>
                <td>{{item.identifier}}</td>
                <td>
                    <template v-if="item.status==0">正常</template>
                    <template v-if="item.status==1">封禁</template>
                </td>
            </tr>

            </tbody>
        </table>
    </form>
    <div style="display: none;" class="page" id="page"></div>
    <div style="display: none;" class="page" id="page1"></div>
</div>
<script src="../../res/common/js/jquery.min.js"></script>
<script src="../../res/common/js/vue.min.js"></script>
<script src="../../res/admin/lib/layui/layui.js"></script>
<script src="../../res/admin/js/user.js"></script>

</body>
</html>
